*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header Css Start */
.header{
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
.header a img{
    width: 70px;
    height: 60px;
}
.header .navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin:0px 4px;
    transition: 0.3s;
}
.header .navbar a:hover{
    color: white;
    border-bottom: 1px solid #d3ad7f;
}
.header .icons .icons-button{
    color: white;
    margin: 0px 10px;
}
/* Header Css End */
/* Banner Css Start */
.banner{
    width: 100vw;
    height: 80vh;
    background-image: url("./images/home-img.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0px 40px;
}
.banner h1{
    color: white;
    font-size: 50px;
}
.banner p{
    color: white;
}
.banner button{
    padding: 10px 30px;
    margin-top: 10px;
    background-color: yellow;
    font-weight: 700;
    outline: 0;
    border: 0;
    transition: 0.5s all;
    cursor: pointer;
}
.banner button:hover{
    letter-spacing: 2px;
}
/* Banner Css End */